.note-container {
  box-shadow: 0 2px 5px #ccc;
  background-color: white;
  font-family: inherit;
  float: left;
  width: 250px;
  border-radius: 7px;
  margin: 15px;
  padding: 10px;
}

.note-container .note-title,
.note-container .note-content {
  margin-bottom: 10px;
}

.note-container .note-title {
  font-size: 1.2rem;
}

.note-container .note-content {
  word-wrap: break-word;
  font-size: 1.1rem;
}

.note-container .delete-note {
  background-color: white;
  color: #f5ba13;
  float: right;
  cursor: pointer;
  border: none;
  margin-right: 7px;
  width: 30px;
  height: 30px;
}
